@media screen and (min-width: 1024px){
		
	/*definindo fundo pagina */
	html {
		background-color: rgba(2, 48, 119, 0.34);
	}

	/*definindo tamanho do logo */
	img {
		height: 64px;
		width: 55px;
	}

	 body > header > div p {
	 	position: absolute;
	 	margin-left: 67px;
	 	top: 25px;
		color: #CCC;
	}

	/*definindo fonte da pagina */
	body {
		font-family: sans-serif;
	}

	/*definindo expessura da fonte */

	/*definindo bordar superio menu */
	body {
		margin: 0px	;
	}

	/*definindo menu topo da pagina */
	header {
		background-color: rgba(2, 48, 119, 0.64);
		height: 65px;
		width: 100%;
	}

	/*definindo stilo do menu */
	ul a {
		text-decoration: none;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.5);

	}

	/*definindo alinhamento a esqueda criar menu */
	ul {
		list-style: none;
		padding: 0px;
	}

	/*definindo transparencia do menu */
	nav > ul a {
		color: #FFF;
	}

	nav li {
		top: -68px;
		margin-right: 7px;
		position: relative;
	}

	/*definindo retratil do menu */
	nav > ul ul {
		top: 0;
		left: -98px;
	}

	nav > ul > li {
		display: inline-block;
	}

	/*definindo fundo do menu */
	nav ul li ul {
		background-color: grey;
	}

	/*definindo sobreamento ao passar mouse */
	ul a:hover {
		background-color: rgba(0,0,0,0.5);
	}

	/*definindo bloco para agrupar menu */
	nav > ul > li {
		display: inline-block;
	}

	/*definindo alinhamento superior menu */
	nav {
		float: right;
	}	

	/*definindo ocultamento do menu */
	nav > ul ul {
		position: absolute;
		display: none;
	}

	/*definindo largura do menu */
	ul a {
		padding: .9rem .9rem;
	}

	/*definindo efeito deslizar do menu */
	nav li:hover > ul {
		display: block;
	}

	/*definindo alinhamento list a esquerda */
	ul {
		list-style: none;
		padding: 0px;
	}

	/*definindo tamanho do alinhamento list a esquerda */
	body > ul {
		position: absolute;
		margin-top: 10%;
		margin-left: 2%;	
		height: left;
		width: 20%;
		float: 37%;
	}

	/*
	ul a {
		text-decoration: none;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.5);
	}*/
	/*
	nav ul li ul {
		background-color: grey;
	}
	*/
	/*
	nav ul a {
		color: #FFF;
	}*/

	/*definindo fonte do titulo h1 */
	h1 {
		font-family: sans-serif;
		margin-left: 30%;
		margin-right: 0%;	
		font-size: 22px;
		color: #118593;
	}

	form {
		margin-left: 30%;
	}
}