@media screen and (min-width: 1024px){
	

	*{
		border: 0;
		margin: 0; 
		padding: 0;
		/*
		font-size: 0;
		box-sizing: 0;
		line-height: 1;
		list-style: none;
		font-size: 100%;
		background: initial;
		vertical-align: baseline;
		background-color: initial;
	*/
	 }
}

@media screen and (max-width: 780px){
	*{
		border: 0;
		margin: 0; 
		padding: 0;
		/*
		font-size: 0;
		box-sizing: 0;
		line-height: 1;
		list-style: none;
		font-size: 100%;
		background: initial;
		vertical-align: baseline;
		background-color: initial;
	*/
	 }
	
}