<?xml	version="1.1"	encoding="UTF-8"?>
<widgets 	xmlns="http://www.w3.org/ns/widgets"
	 	xmlns:gap="http://phonegap.com/ns/1.3"
		id="despesasmensalapp"
		version="1.0.3">
<name>
		Despesas Mensal
</name>
<description>
		Gestor Despesas Mensais
</description>
<author	href="https://github.com/josuellions/Projects_app_desp_2017"	
		email="josuel_lions@hotmail.com">
		Josuel A. Lopes - Seven Soluctions Tecnologic
</author>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="phonegap-version" value="cli-6.4.0" />
    <preference name="android-minSdkVersion" value="16" />
    <platform name="android" />
<!--
<config-file platform="android" parent="/manifest" mode="delete">
        <uses-permission android:name="android.permission.GET_ACCOUNTS" />
</config-file>
-->

<icon src="img/seven_icon.png" />
<plugin name="cordova-plugin-splashscreen" spec="4.0.3" />
<splash src="splash.png" />

</widgets>
