<?php
include 'construct/construct.php';	
?>
<!DOCTYPE html>
<html lang="en" class="marginSuperior ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Despesas_app</title>
        <!-- Bootstrap -->
<!-- <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="styles/libs/bootstrap-3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="styles/libs/bootstrap-3.3.7/css/bootstrap.min.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="lib/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">

<script src= "js/libs/jquery.mobile-1.4.5.min.js"></script>

<script src="js/libs/jquery.js"></script>

<link rel="stylesheet" type="text/css" href="css/styles_icon.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/styles_img.css">

</head>
<body>

  <section data-role="page">
    <header data-position="fixed">
     
		<!-- Imagem Logo com link -->
		<div class="container-fluid">
			<div class="row bg-01">
				<div class="form-group">
					<a href="/">
						<img src='img/logo_seven.png' title="Logo"  class="icon" >
					</a>
					<!-- Nome da empresa -->
					<div class="nomeEmpresa">
						<p  title="Nome enpresa">&copy Seven Solutions Tecnologic</p>
					</div>
					<div class="pull-right btnMenuSup">
						<buton type="button" name="Entrada" class="btn btn-primary"  class="img-circle btnMenuSup" aria-label="Alinhar" >
						<span class="glyphicon glyphicon-align-left" aria-hidden="true" ></span>
						</buton>
					</div>	
				</div>
			</div>
		</div>
		<!-- Fim menu superior -->
	</header>

	<section>
	<div class="container-fluid" >
		<div class="row">
			<div class="text-center text-uppercase text-danger">
					<!-- Titulo Principal -->
					<h1 class="tituloSup" class="text-danger" >Despesas Mensal</h1>
			</div>
		</div>
			<div class="form-group">
				<div class="text-letf text-uppercase text-danger" >
							<label class="exibDadosEnt col-xs-12">Despesas:</label>
				</div>
			</div>
	</section>
	<div class="container-fluid">
			<div  class="col-xs-12">
				<label class="label_01 text-danger">Despesas:</label>
				<input type="text-primary" name="despesa"  ng-model="newDespesa.despesa" placeholder="tipo despesa" class="col-xs-6" />
			</div>

			<div  class="col-xs-12">
				<label class="label_02 text-danger">Valor:</label>
				<input type="text-primary" name="valor"  placeholder="R$ 0.000,00" ng-model="newDespesa.valor" class="col-xs-6" />
			</div>
			<div class="col-xs-8" >
				<button id="btnEnter" class="button_01" class="btn btn-primary" type="submit" name="btn_enter" title="botao_02">Enter</button>
			</div>
	</div>
<footer data-position="fixed">
<p>Josuel A. Lopes</p>
<p>&copy 2017</p>
</footer>
	</section>

<!-- <script type="text/javascript" src="js/libs/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="construct/script_app.js"></script> -->
<script type="text/javascript" src="js/listar.js"></script>
<script type="text/javascript" src="js/listar_entrada.js"></script>
<!--<link rel="stylesheet" type="text/css" href="css/styles_reset.css">-->
</body>
</html>
